html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #141313;
  color: #ffffff;
  background-image: url("logochapada.png");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}
canvas {
  display: none;
}
video {
  object-fit: fill;
  float: left;
  height: 100%;
  max-width: 100%;
}

#user-media-container {
  float: left;
  width: 100%;
  height: 100%;
}

#get-user-media-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#show-user-media {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#show-user-media img {
  max-width: 100%;
  height: 97%;
  border-radius: 5px;
  box-shadow: 1px 3px 30px 2px #000000;
}

#table-logs {
  position: fixed;
  bottom: 0px;
  border: 1px solid blue;
  width: 500px;
  height: 100x;
  background-color: #000000;
  max-width: 90%;
}

#table-logs th {
  border: 1px solid #ffffff;
  font-size: 15px;
  padding: 10px;
  width: 33%;
}
#table-logs td {
  border: 2px solid #09ff00;
  padding: 10px;
  text-align: center;
}
